.countries {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.country {
	border: 2px solid black;
	background-color: #7fffd41a;
	border-radius: 20px;
	padding: 20px;
}
.country img {
	width: auto;
}
